.container {
    display: flex;
    flex-direction: row;
}

.container__nav {
    justify-content: flex-end;
    align-items: baseline;
}
.nav-padding {
    padding-right: 8px;
}

.contactdiv {
    background-color: #000000;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: ghostwhite;
}

.name {
    text-align: left;
    font-size: 32px;
    font-family: serif;
    text-decoration-style: none;
}

#bio {
    margin-right: 30px;
    margin-left: 15px;
    font-family: serif;
    font-size: 14px
}

#border {
    border: 2px solid #000000
}

#bioimage {
    margin-left: 60px;
    margin-top: 10px;
}

*html {
    font-family: baskerville;
}

p #signature {
    font-family: cursive;
}

header nav ul {    
    display: flex;
    align-items: center;
    justify-content: center;
   text-decoration-style: none;
}

header nav li {
    align-items: flex-end;
    flex-direction: column;
    list-style-type: none;
    padding: 1em;
    list-style-type: none;
    text-decoration-style: none;
    align-items: center;
}

@media screen and (max-width; 40rem) {
    .container,
    header,
    main,
    footer {flex-direction: column}
}